<div class='ng-modal' ng-show='show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog todo-list-container' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'>X</div>
    <div class='ng-modal-dialog-content'>
      <label ng-transclude> </label>
      <input type="password" name="password" ng-model="value" required>
			<button type="button" class="btn btn-primary" ng-click="confirm()">OK</button>	
      
      <div ng-show="message" class="alert alert-danger alert-dissmissable">
        <button type="button" class="close" data-dismiss="alert" aria=hidden="true">&times;</button>
        {{message}}
      </div>
		</div>
  </div>
</div>
