<div class="modal-content" class="modal-dialog">
<div class="modal-header">
            <h1>Sign In</h1>
</div>
<div class="modal-body container">
<h2> test {{reason}}</h2>
<form class="simple-form">
  <div class="row">
    <div class="col-md-2">
    <label> Username:</label>
    </div>
    <div class="col-md-offset-1 col-md-3">
    <input type="text" name="username" ng-model="username" type="email" required></input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    <label> Password:</label>
    </div>
		<div class="col-md-offset-1 col-md-3">
    <input type="password" name="password" ng-model="password_check" id="inputError" autofocus></input>
		</div>
  </div>
  <div class="row">
    <div class="col-md-2">
    <label> Verify Password:</label>
  </div>
<div class="col-md-offset-1 col-md-3">
    <input type="password" name="password" ng-model="password"></input>
</div>

  </div>
  <div class="row">
    <button class="btn btn-primary" ng-click="signup(username,password)">Sign Up</button>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</div>
